<div class="row">
  <div class="col-sm-6 mb-4">

    <h3>Bootstrap Pomodoro</h3>
    <h1 class="text-danger">{{ timer.duration }}</h1>

    <div class="btn-group">

      <button type="button" class="btn btn-success" (click)="startTimer()">start</button>
      <button type="button" class="btn btn-warning">pause</button>
      <button type="button" class="btn btn-danger">reset</button>

      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
          rest
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">short rest</a>
          <a class="dropdown-item" href="#">long rest</a>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-6">
    <h3>Daily Report</h3>
  </div>

</div>
